.paces {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: var(--font-menu);
    color: var(--font-color);
    margin-bottom: 20px;
  }