.parameters {
  width: 100%;
  max-width: 515px;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}


.items {
  width:85%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item {
  width: calc(100% / 3.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item__data {
  font: var(--font-l);
  color: var(--color-blue);
}

.item__title {
  font: var(--font-menu);
  color: var(--font-color);
}


.icon_edit {
  width: 15px;
  height: 15px;
  color: var(--color-grey);
  margin-right: 15px;
  cursor: pointer;
}
