.main_first_start {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.btn_wrap {
  width: 100%;
  max-width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  row-gap: 25px;
  margin-top: 50px;
}

.btn {
  width: 100%;
  max-width: 350px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-light);
  border: 1.5px solid var(--color-blue-light);
  color: var(--color-blue);
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  border: 1.5px solid #336fe4;
  background-color: #336fe4;
  color: var(--color-white);
}
.icon {
  margin-right: 10px;
}

.text {
  font: var(--font-m);
}

.img_wrap {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
