.sort_plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.menu_sort {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: inherit;
  font: var(--font-l);
  color: var(--color-grey);
  margin-right: 20px;
  margin-bottom: 10px;
}

.items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 515px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  width: max-content;
  padding: 3px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-blue);
  cursor: pointer;
}

.item:hover {
  background-color: var(--color-blue-light);
  cursor: pointer;
  border-radius: 5px;
}

.item_active {
  width: max-content;
  padding: 3px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-blue);
  cursor: pointer;
  background-color: var(--color-blue-light);
  border-radius: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-blue);
  margin-right: 5px;
}

.text {
  font: var(--font-ms);
  color: var(--color-blue);
}
