
.main_paceplan {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
   background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 10px 10px;
  margin: 5px 0;
}

.title {
  font: var(--font-menu);
  color: var(--color-grey-dark);
  margin-bottom: 15px;
}

.items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  color: var(--color-grey-dark);
  font: var(--font-ms);
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.item strong {
  color: var(--color-blue);
}

.substr {
  font: var(--font-s);
}

.icon_wrap_close {
  align-self: flex-end;
  width: 25px;
  height: auto;
}

.icon_close {
  width: 25px;
  height: 25px;
  color: var(--color-grey);
  cursor: pointer;
}



/* .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 10px 10px;
  margin: 5px 0;
}

.title {
  font: var(--font-menu);
  color: var(--color-grey-dark);
  align-self: center;
  margin-bottom: 15px;
}


.text {
  font: var(--font-ms);
  color: var(--color-grey-dark);
}

.icon_wrap_close {
  align-self: flex-end;
  width: 25px;
  height: auto;
}

.icon_close {
  width: 25px;
  height: 25px;
  color: var(--color-grey);
  cursor: pointer;
}

 */
